{% extends "base.html" %}

{% load model_blocks %}
{% load object_name %}

{% block title %}Irrigator Pro for Corn{% endblock %}

{% block content %}

  <!-- {--{ object_list|as_list_block }--} -->

  <table>
    <tr>Header</tr>

    {% for item in object_list %}
      <tr> 
	<td>
	  <a href="{{ request.get_full_path }}{{ item.pk }}">
	    {{ item.name }}
	  </a>
	  {% for field in item.fields %}
	    <td>
	      {{ field }}
	    </td>
	  {% endfor %}
	</td>
      </tr>
    {% endfor %}

  </table>
{% endblock %}
