{% extends "base.html" %}

{% block title %}
  Account Information
{% endblock %}

{% block content %}

  <form action="{{ request.path }}" method="post">{% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
	{{ form.non_field_errors }}
      </div>
    {% endif %}
    
    <table class="formset">
      <tr>
	<td>
	  <label>First Name</label>
	</td>
	<td>
	  {{request.user.first_name}}
	</td>
	<td rowspan="2">
	  <a href="{% url 'user_name' %}" class="btn btn-primary btn-sm">Change</a>
	</td>
      </tr>
      <tr>
	<td>
	  <label>Last Name</label>
	</td>
	<td>
	  {{request.user.last_name}}
	</td>
      </tr>

      <tr>
	<td colspan="3"></td>
      </tr>

      <tr>
	<td>
	  <label>Email</label>
	</td>
	<td>
	  {{request.user.email}}
	</td>
	<td>
	  <a href="{% url 'account_email' %}" class="btn btn-primary btn-sm">Change</a>
	</td>
      </tr>


      <tr>
	<td colspan="3"></td>
      </tr>

      <tr>
	<td>
	  <label>Password</label>
	</td>
	<td>
	  ########
	</td>
	<td>
	  <a href="{% url 'account_change_password' %}" class="btn btn-primary btn-sm">
	    Change
	  </a>
	</td>
      </tr>


      <tr>
	<td colspan="3"></td>
      </tr>

      {% for field in form %}
	<tr>
	  <td>{{ field.label_tag }}</td> 
	  <td>{{ field }}</td>
	  <td>
	    {% if field.errors %}
	      <div class="inline-alert alert-danger">
		{{ field.errors }}
	      </div>
	    {% else %}
              <div class="inline-alert alert-warning">
                {% if field.field.required %}Required{% endif %}
              </div>
            {% endif %}
	  </td>
	</tr>
      {% endfor %}

      <tr>
	<td colspan="3" align="center">
	  <a class="btn btn-warning" href="">
	    <i class="fa fa-undo fa-fw"></i> Cancel Changes
	  </a>
	  <input type="submit" value="Save Changes" class="btn btn-success"/>
	</td>
      </tr>

    </table>

  </form>


{% endblock %}
