{% extends "base.html" %}

{% load phone_filters %}

{% block page-title %}
    <title>Account Information</title>
{% endblock %}


{% block title %}
    Account Information
{% endblock %}


{% block content %}

  <form action="{{ request.path }}" method="post">{% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
	{{ form.non_field_errors }}
      </div>
    {% endif %}
    
    <table class="formset">
      <tr>
	<td>
	  <label>First Name:</label>
	</td>
	<td>
	  {{request.user.first_name}}
	</td>
	<td rowspan="2">
	  <a href="{% url 'user_name' %}" class="btn btn-primary btn-sm">Change</a>
	</td>
      </tr>
      <tr>
	<td>
	  <label>Last Name:</label>
	</td>
	<td>
	  {{request.user.last_name}}
	</td>
      </tr>

      <tr>
	<td colspan="3"></td>
      </tr>

      <tr>
	<td>
	  <label>Email:</label>
	</td>
	<td>
	  {{request.user.email}}
	</td>
	<td>
	  <a href="{% url 'account_email' %}" class="btn btn-primary btn-sm">Change</a>
	</td>
      </tr>


      <tr>
	<td colspan="3"></td>
      </tr>

      <tr>
	<td>
	  <label>Password:</label>
	</td>
	<td>
	  ########
	</td>
	<td>
	  <a href="{% url 'account_change_password' %}" class="btn btn-primary btn-sm">
	    Change
	  </a>
	</td>
      </tr>


      <tr>
	<td colspan="3"></td>
      </tr>

      {% for field in form %}
	<tr>
	  <td>{{ field.label_tag }}</td> 
	  {% if field.label == "Fax" or  field.label == "Phone" %}
	  <td>
	    <input id="id_{{field.label|lower}}" maxlength="20" name="{{field.label|lower}}" type="text" value="{{field.value|us_number}}" />
	  </td>
	  {% else %}
	  <td>{{ field }}</td>
	  {% endif %}
	  <td>
	    {% if field.errors %}
	      <div class="inline-alert alert-danger">
		{{ field.errors }}
	      </div>
	    {% else %}
              {% if field.field.required %}
                <div class="inline-alert alert-warning">
                  Required
                </div>
              {% endif %}
            {% endif %}
	  </td>
	</tr>
      {% endfor %}
	<tr>
	  <td><label for="mobile">Mobile:</label></td>
	  <td><input type="text" id="mobile" name="mobile" style="text-align:left;" 
		     value="{{mobile|us_number}}"
		     onkeypress="disableSMSValidation()"
		     />
	  </td>
	  <td id="sms_status">
	    {% if sms_error %}
	    <div class="inline-alert alert-danger">
	      {{ sms_error }}
	    </div>
	    {% elif mobile.number %}
	      {% if mobile.status = 'New' %}
	      <button type="button" class="btn btn-primary btn-sm" onclick="validate_sms()" id="sms-button">
		 validate for SMS
	       </button>
	      {% elif mobile.status = 'Submitted' %}
	      <div  class=" btn-primary btn-sm">
		  Pending
	       </div>
	      {% elif mobile.status = 'Validated' %}
	      <div  class=" btn-primary btn-sm">
		 Activated
	       </div>
	      {% endif %}
	    {% endif %}
	      
	  </td>
	  
	</tr>

      <tr>
	<td colspan="3" align="center">
	  <a class="btn btn-warning" href="">
	    <i class="fa fa-undo fa-fw"></i> Cancel Changes
	  </a>
	  <input type="submit" value="Save Changes" class="btn btn-success"/>
	</td>
      </tr>

    </table>

  </form>


{% endblock %}

{% block scripts %}
<script>
function validate_sms() {
  var theurl = "{%url 'validate_sms' %}";
  $("#sms_status").html("<div  class='btn-primary btn-sm'>Pending</div>");
  $.ajax({
    url: theurl
  });  
}

function disableSMSValidation() {
  $("#sms-button").prop("disabled", true)
}
</script>
{% endblock %}
