/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2 {
    margin-bottom: 20px;
}

h1 em, h2 em {
    color: #006B00;
    font-weight: 500;
    font-style: normal;
}

.btn-default {
    background-color: #80B580;
}

#page-wrapper {
    padding: 0;
    margin-left: 210px;
    background-color: #eefcff;
}

.background-default {
    padding: 0;
    margin-left: 0px;
    background-color: #eefcff;
}


body {
    padding-top: 62 px;
    padding-bottom: 40px;
    background-color: #eefcff;
}

.container {
    padding: 0px;
    margin: 0px;
    width: auto;
}


.contents {
    margin-top: 50px;
    padding: 10px 20px;
}

footer {
    margin-left: 200px;
    position:fixed;
    bottom:0;
    height:1.5em;   /* Height of the footer */
    text-align: center;
    background-color: #006B00;
    color: #eefcff;
    right: 0;
    left: 0;
}

.site-title {
    color: DarkGreen;
    font-weight: bold;
}


td {
    padding: 2px;
}


/*********************/
/* Display of Alerts */
/*********************/

.alert-inline {
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/******************/
/* Centered block */
/******************/

.submit-bar {
    text-align: center;
    padding: 10px;
}


/***********/
/* formset */
/***********/



table.formset, table.formset tr, table.formset td, table.formset th {
    border: 1px solid #006B00;
    /*width: 100%;*/
    text-align: center;
}

tr.dynamic-form-add, tr.dynamic-form-add td, a.add-row  {
    text-align: center  !important;
}

a.add-row {
    display: table-cell;
    width: 100%;
    text-align: center;
    column-span: 100;
}

a.add-row, a.delete-row {
    color: #006B00;
}

.delete-icon {
    color: #d9534f;
}

.delete-icon:hover {
    color: #d2322d;
}


.add-icon {
    color: #5cb85c;
    border-color: #398439;
}

.add-icon:hover {
    color: #47a447;
}

/***********/
/* list-table */
/***********/

table.list-table, table.list-table tr, table.list-table td, table.list-table th {
    border: 1px solid #006B00;
    /*width: 100%;*/
    text-align: center;
    padding: 5px;
}

tr.dynamic-form-add, tr.dynamic-form-add td, a.add-row  {
    text-align: center  !important;
}




/***********/
/* Tooltip */
/***********/

.iTooltip {
    display: inline;
    position: relative;
}

.iTooltip:hover:after{
    background: rgba(0,107,0,.6);
    border-radius: 5px;
    bottom: 1em;
    color: white;
    content: attr(help);
    right: 0px;
    padding: 5px 5px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

/* .iTooltip:hover:before{ */
/*     border: solid; */
/*     border-color: #333 transparent; */
/*     border-width: 6px 6px 0 6px; */
/*     bottom: 20px; */
/*     content: ""; */
/*     left: 50%; */
/*     position: absolute; */
/*     z-index: 99; */
/* } */

/*********************************/
/* DatePicker and DateTimePicker */
/*********************************/

.hasDatePicker {
    margin: 5px;
}

.ui-datepicker {
    z-index: 10000 !important;
/* color: #eefcff !important; */
}

/********************************************/
/* Field section of CropSeason Event inline */
/********************************************/

.cropseason_field_wrapper {
    margin: 20px;
    padding: 5px 20px 20px 10px;
    background-color: white;
    border-style:solid;
    border-width:1px;
    border-color: #006B00;
    display: inline-block;
}

.cropseason_field_wrapper h3 {
    margin: 5px 5px 10px 5px;
}

.cropseason_field_wrapper > table {
    background-color: #eefcff;
}

/********/
/* Form */
/********/

form {
    display: inline-block;
    width: auto;
}

table.default-form {
    margin-left: 40px;
}

input[type="number"] {
    width: 4em;
}

.float-right  {
    float: right!important;
}

table.full-width {
    width: 100%;
}

/******************/
/* Water Register */
/******************/

table.water-register {
    border: 1px solid #006B00;
    text-align: center;
    padding: 5px;
}

table.water-register tr.header1 th, table.water-register tr.header2 th {
    padding: 5px;
}

/*** Place double-line between sections ***/
table.water-register tr.header1 th:nth-child(2), table.water-register tr.header1 th:nth-child(3),  table.water-register tr.header1 th:nth-child(4)  {
    border-right-width: 3px;
    border-right-style: double;
}

table.water-register tr.header2 th:nth-child(4), table.water-register tr.header2 th:nth-child(6)  {
    border-right-width: 3px;
    border-right-style: double;
}

table.water-register tr td:nth-child(2), table.water-register tr td:nth-child(6), table.water-register tr td:nth-child(8)  {
    border-right-width: 3px;
    border-right-style: double;
}
/***/


/*** Set width of columns ***/
table.water-register header1 th:nth-child(1) {
    column-width:10em;
    -moz-column-width:10em; /* Firefox */
    -webkit-column-width:10em; /* Safari and Chrome */
}

table.water-register tr.header1 th:nth-child(5) {
    column-width:15em;
    -moz-column-width:15em; /* Firefox */
    -webkit-column-width:15em; /* Safari and Chrome */
}

table.water-register tr.header2 th:nth-child(4) {
    column-width:12em;
    -moz-column-wdth:12em; /* Firefox */
    -webkit-column-width:12em; /* Safari and Chrome */
}

table.water-register tr.header2 th:nth-child(10) {
    column-width:20em;
    -moz-column-width:20em; /* Firefox */
    -webkit-column-width:20em; /* Safari and Chrome */
}
/***/


.computed-from-probes {
    text-decoration:line-through;
    color: gray;
}

/*** Colorize past, today, future ***/
tr.row-past, tr.row-past td {
    color: #BBBBBB;
}

tr.row-today, tr.row-today td {
    background-color: lightyellow;
}

tr.row-future, tr.row-future td {
    background-color: #ddfcdd;
}
/***/


/******************************************
* Summary Report.
* For now just copy from water register.
*******************************************/

table.summary-report {
    border: 1px solid #006B00;
    text-align: center;
    padding: 5px;
}

table.summary-report tr.header1 th, table.summary-report tr.header2 th {
    padding: 5px;
}



table.summary-report tr.header1 th:nth-child(6), table.summary-report tr.header1 th:nth-child(7)  {
    border-right-width: 3px;
    border-right-style: double;
}

table.summary-report tr.header2 th:nth-child(2)  {
    border-right-width: 3px;
    border-right-style: double;
}


table.summary-report tr td:nth-child(6), table.summary-report tr td:nth-child(8)   {
    border-right-width: 3px;
    border-right-style: double;
}


/*** Set width of columns ***/
table.summary-report header1 th:nth-child(1) {
    column-width:10em;
    -moz-column-width:10em; /* Firefox */
    -webkit-column-width:10em; /* Safari and Chrome */
}


table.summary-report tr.header2 th:nth-child(4) {
    column-width:12em;
    -moz-column-wdth:12em; /* Firefox */
    -webkit-column-width:12em; /* Safari and Chrome */
}

table.summary-report tr.header2 th:nth-child(10) {
    column-width:20em;
    -moz-column-width:20em; /* Firefox */
    -webkit-column-width:20em; /* Safari and Chrome */
}



/**
 * Plots for water register
 */

img.water-register-plot {
    width: 400px;
    height: 400px;
}

img.align-right {
    float: left;
    margin-left: 10px;
}

img.align-left {
    float: right;
    margin-right: 10px;
}


@media (max-width: 769px) {
    img.water-register-plot {
	width: 400px;
	height: 400px;
	padding: 25px;
    }
}


/**
 * Tables for the sms/email entering
*/


table.notifications, table.notifications td, table.notifications th, table.notifications tr {
    border: 1px solid #006B00;
    text-align: center;
    padding: 5px;
    border: 1px solid #006B00;

}

table.notifications-new, table.notifications th, table.notifications tr {
    border: 1px solid #006B00;
    text-align: center;
    padding: 5px;
    border: 1px solid #006B00;

}


table.notifications-new td {
    border: 1px solid #006B00;
}





table.tablesorter  tr.header1 th:nth-child(1) {
    background-position: center right;
    padding-right: 20px;
}

