
Django #==1.6.1
South #==0.7.6
django-admin-tools #==0.5.1
django-debug-toolbar #==1.0.1
django-extensions #==1.1.1
Werkzeug
feedparser
django-extra-views
django-session-security
# for django-allauth
python-openid
requests
requests-oauthlib
django-allauth
django-model-blocks
docutils
pygments
pytz
#
# For Trac
#
trac
TracPermRedirect
trac-github
NavAdd
