{% extends "base.html" %}


{% block scripts %}
<script type="text/javascript">
    $(function() {
      /**** When an event date changes, increment/decrement later dates ****/
      $("div.cropseason_field_wrapper .hasDatepicker").change( 
           function(){ 
               /** Calculate change in date **/
               var this_row = $(this).parents("tr");
               
               /* Row input elements */
               var this_input_before = $(this_row).find("input[name$=event_date_before]");
               var this_input_after  = this;

               /* Dates for the current row */
               var this_date_str_before = this_input_before.attr("value");
               var this_date_str_after  = this.value;

               /* Stash the new date into the hidden 'before' input */
               this_input_before = this.value;

               $(this).css("background-color","lightyellow");  /* Mark it for debugging */

               /* Convert date strings to date objects */
               var this_date_before = new Date( $.datepicker.parseDate( "yy-mm-dd", this_date_str_before ) );
               var this_date_after  = new Date( $.datepicker.parseDate( "yy-mm-dd", this_date_str_after  ) );
               console.log("this_date_before=" + this_date_before );
               console.log("this_date_after =" + this_date_after  );

               /* Calculate change in dates */
               var delta  = this_date_after - this_date_before;
               console.log(this_date_after + " - " + this_date_before + " = " + delta );

               /** Update following rows **/
               next_rows = $(this_row).nextAll("tr")

               for(var i=0; i<next_rows.length; i++)
                 {
                   var next_row = next_rows[i];

                   /* Row input elements */
                   var next_date_before_input = $(next_row).find("input[name=event_date_before]");
                   var next_date_after_input  = $(next_row).find(".hasDatepicker");
                
                   /* Dates for the current row */
                   var next_date_str_before = $(next_date_before_input).attr("value");
                   var next_date_str_after  = $(next_date_after_input ).attr("value");
    
                   /* Convert date strings to date objects */
                   var next_date_before = new Date( $.datepicker.parseDate( "yy-mm-dd", next_date_str_before ) );
                   console.log("next_date_before=" + next_date_before );

                   /* Calculate new date */
                   var next_date_after = new Date(next_date_before.valueOf() + parseInt(delta));
                   console.log(next_date_before + " + " + delta + " = " + next_date_after);
    
                   /* Put the new value in place */
                   $(next_date_before_input).attr("value", $.datepicker.formatDate("yy-mm-dd", next_date_after) );
                   $(next_date_after_input ).attr("value", $.datepicker.formatDate("yy-mm-dd", next_date_after) );   

                   $(next_date_after_input).css("background-color","lightyellow");   /* Mark it for debugging */
                }

           } 
      );
    })
</script>
{% endblock %}


{% block content %}

  <h1>
    <i class="fa fa-pagelines fa-fw"></i>
    Crop Season
    - 
    <em>{{form.name.value}}</em>
  </h1>

  <form action="{{ request.path }}" method="post">{% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
	{{ form.non_field_errors }}
      </div>
    {% endif %}

    <table class="default-form">
      <tbody>
	{% for input in form %}
	  <tr>
	    <td>{{ input.label_tag }}</td>
	    <td>{{ input }}</td>
	    <td>
	      {% if input.errors %}
		<div class="inline-alert alert-danger">
		  {{ input.errors }}
	        </div>
	      {% else %}
		{% if input.field.required %}(Required){% endif %}
	      {% endif %}
	    </td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>

    <h2>Fields</h2>

    {% with form=inlines|first %}

      {{ form.management_form }}

      {% if form|first  %}

	{% for field_object in field_list %}

	  <div class="cropseason_field_wrapper">

	  <h3>{{ field_object }}</h3>

	  <table id="formset" class="formset default-form">
	    <thead>
	      <tr>
		{% for field in form|first %}
		  {% if not field.is_hidden %}
	      	    <th>{{ field.label }}</th>
		  {% else %}
		    <th class="hidden"></th>
		  {% endif %}
		{% endfor %}
	      </tr>
	    </thead>

	    <tbody>
	      {% for record in form %}

		{% if record.field.value == field_object.pk %}

		  <tr>
		    {% for field in record %}
		      {% if field.is_hidden %}
			<td class="hidden">
			  {{ field }}
			</td>
		      {% else %}
			<td>
			  {% if field.errors %}
			    <div class="inline-alert alert-danger">
			      {{ field.errors }}
			    </div>
			  {% endif %}
			  {{ field }}
			</td>
		      {% endif %}
		    {% endfor %}
		    <td class="hidden">
		    
		    <input id="event_date_before" 
			   name="event_date_before" 
			   type="hidden" 
			   value="{{ record.instance.date|date:"Y-m-dd" }}">
		    
		    <input id="crop_event_order" 
			   name="event_order" 
			   type="hidden" 
			   value="{{ record.instance.event_order }}">

		    <input id="crop_event_duration" 
			   name="event_duration" 
			   type="hidden" 
			   value="{{ record.instance.event_duration }}">
		    </td>

		  </tr>

		{% endif %}

	      {% endfor %}
	    </tbody>
	  </table>

	  </div>

        {% endfor %}

      {% else %}

	<div class="alert alert-success">Click 'Save Changes' to show events</div>

      {% endif %}


    {% endwith %}


    <div class="submit-bar">

      <button value="Submit" type="submit" class="btn btn-success">
	<i class="fa fa-floppy-o"></i> Save Changes
      </button>

      {% if object.pk %}
	<a class="btn btn-warning" href="{% url 'crop_season_list' %}{{ object.pk }}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% else %}
	<a class="btn btn-warning" href="{% url 'crop_season_list' %}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% endif %}

      {% if object.pk %}
	<a class="btn btn-danger" href="{% url 'crop_season_list' %}delete/{{ object.pk }}">
	  <i class="fa fa-times fa-fw"></i> Delete
	</a>
      {% endif %}

    </div>


  </form>

{% endblock %}
