{% extends "base.html" %}


{% block scripts %}
<script src="{{ STATIC_URL }}js/update_crop_season_event_dates.js"></script>
<script type="text/javascript">
    function set_event_range()
    {
        /*** 
           This function sets date ranges to the limits given 
           by season_start_date and season_end_date
         ***/ 

        /* Get the season staet and end dates */
        minDate = $('input[id=id_season_start_date]').val();
        maxDate = $('input[id=id_season_end_date]').val();

        /* Restrict season end date to start after the season start date */
        $('input[id=id_season_end_date]').datepicker( 
            "option", "minDate", minDate
        )

        /* Restrict event dates to range specified by crop season */
        $('input[id$=date]').filter('[id^=id_cropseasonevent]').datepicker( 
            "option", "minDate", minDate
        ).datepicker(
            "option", "maxDate", maxDate
        );
    } 

    $(
      function() {
        /* Update crop season event dates when crop season start date changes */
        $("#id_season_start_date").change( season_start_date_change );

        /* Update later dates when earlier dates change */
        $("div.cropseason_field_wrapper .hasDatepicker").change( crop_event_date_change );

        /* Set event date ranges on page load */ 
        set_event_range();

        $('input[id=id_season_start_date]').change(set_event_range);
        $('input[id=id_season_end_date]').change(set_event_range);
      }
     )
</script>
{% endblock %}


{% block content %}

  <h1>
    <i class="fa fa-pagelines fa-fw"></i>
    Crop Season
    - 
    <em>{{form.name.value}}</em>
  </h1>

  <form action="{{ request.path }}" method="post">{% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
	{{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="cropseason_wrapper">
      <table class="default-form">
	<tbody>
	  {% for input in form %}
	    <tr>
	      <td>{{ input.label_tag }}</td>
	      <td>
		{{ input }}
	      </td>
	      <td>
		{% if input.errors %}
		  <div class="inline-alert alert-danger">
		    {{ input.errors }}
	          </div>
		{% else %}
		  {% if input.field.required %}(Required){% endif %}
		{% endif %}
	      </td>
	    </tr>
	  {% endfor %}
	  <tr>
	    <td type="hidden">
	      <input id="season_start_date_before" 
		     name="season_start_date_before" 
		     type="hidden" 
		     value="{{ form.instance.season_start_date|date:"Y-m-d" }}">
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>

    <h2>Fields</h2>

    {% with form=inlines|first %}
  

      {% if form.non_form_errors %}
	{% for dict in formset.non_form_errors %}
          {% for key,value in dict.items %}
  	    <div class="alert alert-danger">
  	      {{ value }}
  	    </div>
          {% endfor %}
	{% endfor %}
      {% endif %}
  

      {{ form.management_form }}

      {% if form|first  %}

	{% for field_object in field_list %}

	  <div class="cropseason_field_wrapper">

	  <h3>{{ field_object }}</h3>

	  <table id="formset" class="formset default-form">
	    <thead>
	      <tr>
		{% for field in form|first %}
		  {% if not field.is_hidden %}
	      	    <th>{{ field.label }}</th>
		  {% else %}
		    <th class="hidden"></th>
		  {% endif %}
		{% endfor %}
	      </tr>
	    </thead>

	    <tbody>
	      {% for record in form %}

		{% if record.field.value == field_object.pk %}

		  <tr>
		    {% for field in record %}
		      {% if field.is_hidden %}
			<td class="hidden">
			  {{ field }}
			</td>
		      {% else %}
			<td>
			  {% if field.errors %}
			    <div class="inline-alert alert-danger">
			      {{ field.errors }}
			    </div>
			  {% endif %}
			  {{ field }}
			</td>
		      {% endif %}
		    {% endfor %}
		    <td class="hidden">
		    
		    <input id="event_date_before" 
			   name="event_date_before" 
			   type="hidden" 
			   value="{{ record.instance.date|date:"Y-m-d" }}">
		    
		    <input id="crop_event_order" 
			   name="event_order" 
			   type="hidden" 
			   value="{{ record.instance.event_order }}">

		    <input id="crop_event_duration" 
			   name="event_duration" 
			   type="hidden" 
			   value="{{ record.instance.event_duration }}">
		    </td>

		  </tr>

		{% endif %}

	      {% endfor %}
	    </tbody>
	  </table>

	  </div>

        {% endfor %}

      {% else %}

	<div class="alert alert-success">Click 'Save Changes' to show events</div>

      {% endif %}


    {% endwith %}


    <div class="submit-bar">

      <button value="Submit" type="submit" class="btn btn-success">
	<i class="fa fa-floppy-o"></i> Save Changes
      </button>

      {% if object.pk %}
	<a class="btn btn-warning" href="{% url 'crop_season_list' %}{{ object.pk }}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% else %}
	<a class="btn btn-warning" href="{% url 'crop_season_list' %}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% endif %}

      {% if object.pk %}
	<a class="btn btn-danger" href="{% url 'crop_season_list' %}delete/{{ object.pk }}">
	  <i class="fa fa-times fa-fw"></i> Delete
	</a>
      {% endif %}

    </div>


  </form>

{% endblock %}
