{% extends "base.html" %}

{% load auth_id %}
{% block content %}

  <h1>Farm
    -
    <em>{{form.name.value}}</em>
  </h1>

  <form id="main-form" action="{{ request.path }}" method="post">{% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
	{{ form.non_field_errors }}
      </div>
    {% endif %}

    <table class="default-form">
      <tbody>
	{% for input in form %}
	  <tr>
	    <td>{{ input.label_tag }}</td> 
	    <td>{{ input }}</td>
	    <td>
	      {% if input.errors %}
		<div class="inline-alert alert-danger">
		  {{ input.errors }}
	        </div>
	      {% else %}
		{% if input.field.required %}(Required){% endif %}
	      {% endif %}	
	    </td>
	  </tr>

	{% if input.label == 'Description' %}
	<!-- Authorized Users not handled by form. Insert them before description. -->
	<tr>
	  <td>Authorized Users:</td> 
	  <td>
	    <table id="auth-users" class="auth-users">
	      <thead>
		<tr>
		  <th>User</th>
		  <th>Action</th>
		</tr>
	      </thead>
	      <tbody id="auth-users-body">
		{% for a in auth_users %}
		{% comment %}
		Row id is used to decide what to strike.
		{% endcomment %}
		<tr id="{{a|auth_id}}">
		  <td>{{a}}</td>
		  <td><button type="button" onclick="delete_auth_row('{{a}}', '{{a.pk}}', 'auth')">Delete</button></td>
		</tr>
		{% endfor %}

		{% for a in invited_users %}
		{% comment %}
		There should be no conflicts in the ids between the auth_users and invited users, since
		emails are unique.
		{% endcomment %}

		<tr id="{{a|auth_id}}">
		  <td>{{a}}(*)</td>
		  <td><button type="button" onclick="delete_auth_row('{{a}}', '{{a.pk}}', 'invited')">Delete</button></td>
		</tr>
		{% endfor %}
		


	      </tbody>
	    </table>

	    <table>
	      <thead>
		<tr><th>Add User</th></tr>
	      </thead>
	      <tbody>
		<tr>
		  <td>
		    <div class="ui-widget">
		      <label for="new_auth_user">User: </label>
		      <input id="new_auth_user">
		    </div>
		  </td>
		  <td>
		    <button type="button" onclick="add_auth_row()">Add</button></td>
		  </td>
		</tr>
	      </tbody>
	    </table>

	  </td>
	  <td>&nbsp;</td>
	  
	</tr>
	{% endif %}




	{% endfor %}
      </tbody>
    </table>

    <h2>Fields</h2>


    {% if field_form.non_form_errors %}
      {% for dict in formset.non_form_errors %}
        {% for key,value in dict.items %}
  	  <div class="alert alert-danger">
  	    {{ value }}
  	  </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    
    <table id="formset" class="formset default-form">
      <thead>
	<tr>
	  {% for label in field_form_headers %}
	    <th>{{ label }}</th> 
	  {% endfor %}
	</tr>
      </thead>

      <tbody>
	{% for field in field_form %}
	  <tr>
	    {% for input in field %}
	      <td>
		{% if input.errors %}
		  <div class="inline-alert alert-danger">
		    {{ input.errors }}
	          </div>
		{% endif %}
		{{ input }}
	      </td>
	    {% endfor %}
	  </tr>
	{% endfor %}
      </tbody>
    </table>

    <div class="submit-bar">

      <button value="Submit" type="submit" class="btn btn-success">
	<i class="fa fa-floppy-o"></i> Save Changes
      </button>

      {% if object.pk %}
	<a class="btn btn-warning" href="{% url 'farm_list' %}{{ object.pk }}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% else %}
	<a class="btn btn-warning" href="{% url 'farm_list' %}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% endif %}

      {% if object.pk %}
	<a class="btn btn-danger" href="{% url 'farm_list' %}delete/{{ object.pk }}">
	  <i class="fa fa-times fa-fw"></i> Delete
	</a>
      {% endif %}

    </div>


    {{ field_form.management_form }}

  </form>

  
{% endblock %}

  {% block scripts %}
  {% if debug %}
    <script src="{{ STATIC_URL }}js/farm_and_fields.js?t={% now "c" %}"></script>
  {% else %}
    <script src="{{ STATIC_URL }}js/farm_and_fields.js"></script>
  {% endif %}

<script>
$(function() {
    $("#new_auth_user").autocomplete({
        source: "{%url 'filter_auth_users' farm.pk %}",
        minLength: 2,
    });
});
</script>

  
{% endblock %}
