{% extends "base.html" %}

{% block content %}

  {% include 'farms/farm_navbar.html' %}
  
  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete farm "{{ object.name }}"?</p>

    <a class="btn btn-warning" href="{% url 'farm_list' %}{{ object.pk }}">
      <i class="fa fa-undo fa-fw"></i> Cancel Delete
    </a>

    <button class="btn btn-danger" value="Confirm" type="submit">
      <i class="fa fa-times fa-fw"></i> Confirm Delete
    </button>

  </form>
  
{% endblock %}
