<!-- Plantings NavBar -->
<nav class="navbar-default navbar-static-side navbar-side-second" role="navigation">
  <ul class="nav" id="side-menu">
    
    {% for item in planting_list %}
      <li>
  	<a href="{% url 'planting_list' %}{{ item.pk }}">
  	  {{ item.name }}
  	</a>
      </li>
    {% endfor %}
    
    <li>
      <a href="{% url 'planting_list' %}new">
  	<i class="fa fa-plus fa-fw"></i> New Planting
      </a>
    </li>
    
    
  </ul>  <!-- /#side-menu -->
</nav>  <!-- /.navbar-static-side -->
<!-- /Plantings NavBar -->
