{% extends "base.html" %}


{% load object_name %}


{% block scripts %}
  <script type="text/javascript">
    $(function() {
    $('#formset tbody tr').formset({
    addText: '<i class="iTooltip add-icon fa fa-plus-square" help="Add Row"> Add Row</i>',
    deleteText: '<i class="iTooltip delete-icon fa fa-minus-square" help="Delete Row"></i>' //'Delete Row',
    })
    })
  </script>
{% endblock %}


{% block content %}

  <h1>
    <i class="fa fa-rss fa-fw"></i>
    Probe Readings
  </h1>

  <h2>
    <em>{{season}}</em>
      -
    <em>{{field}}</em>
      -
    <em>{{radio_id}}</em>
  </h2>


  <h2>{{ object_name }}</h2>

  <form id="formset" action="{{ request.path }}" method="post">{% csrf_token %}

    <table class="formset" >
      <thead>
	<tr>
	  <th>Date and Time</th>
	  <!-- <th>Radio Id</th>  -->
	  <th>Soil Potential 8"    <!-- " --> </th>
	  <th>Soil Potential 16"  <!-- " --> </th>
	  <th>Soil Potential 24"  <!-- " --> </th>
	  <th>Battery %</th>
	  <th>Thermocouple 1 Temp</th>
	  <th>Thermocouple 2 Temp</th>
	  <th>Delete</th>
	</tr>
      </thead>


      <tbody>
	{% for field in formset %}
	  <tr>
	    {% for input in field %}
	      {% if input.is_hidden %}
		{{ input }}
	      {% else %}
		<td>
		  {% if input.errors %}
		    <div class="inline-alert alert-danger">
		      {{ input.errors }}
	            </div>
		  {% endif %}
		  {{ input }}
		</td>
	      {% endif %}
	    {% endfor %}
	  </tr>
	{% endfor %}
    </table>


    <div class="submit-bar">
      <button value="Submit" type="submit" class="btn btn-success">
	<i class="fa fa-floppy-o"></i> Save Changes
      </button>


      <a class="btn btn-warning" href="">
	<i class="fa fa-undo fa-fw"></i> Cancel Changes
      </a>

    </div>


    {{ formset.management_form }}


  </form>

{% endblock %}
