{% extends "base.html" %}


{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#formset tbody tr.datarow').formset({
            addText: '<i class="iTooltip add-icon fa fa-plus-square" help="Add Row"> Add Row</i>',
            deleteText: '<i class="iTooltip delete-icon fa fa-minus-square" help="Delete Row"></i>',
            added: function(row) {
                                   $("input[id$=date]").prop("class","").datepicker()
                                 },
        })
    })
</script>
{% endblock %}


{% block content %}

    <h1>
      <i class="fa fa-rss fa-fw"></i>
      Probes - <em>{{season}}</em>
    </h1>
  
    <form id="formset" action="{{ request.path }}" method="post">{% csrf_token %}
  
  
      {% if formset.non_form_errors %}
        {% for dict in formset.non_form_errors %}
          {% for key,value in dict.items %}
    	  <div class="alert alert-danger">
    	    {{ value }}
    	  </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
  
    
      <table class="formset" >
  
        <thead>
  	<tr>
  	  <!-- <th>Crop Season</th> -->
  	  <th>Probe Name</th>
  	  <th>Description</th>
  	  <th>Fields</th>
  	  <th>Radio Id</th>
  	  <th>Comment</th>
  	  <th>Delete</th>
  	</tr>
        </thead>
  
        <tbody>
  	{% for form in formset %}
          {% if form.errors %}
            <tr>
              <td colspan=6>
		{% for error in form.errors.values %}
  		  <div class="inline-alert alert-danger">
                    {{ error }}
		  </div>
		{% endfor %}
              </td>
            </tr>
          {% endif %}
  	  <tr class="datarow">
  	    {% for input in form %}
  	      {% if not input.is_hidden %}
  		<td>
  		  {% if input.errors %}
  		    <div class="inline-alert alert-danger">
  		      {{ input }}
  	            </div>
  		  {% endif %}
  		  {{ input }}
  		</td>
  	      {% else %}
  		{{ input }}
  	      {% endif %}
  	    {% endfor %}
  	  </tr>
  	{% endfor %}
  	</table>
  
  
      <div class="submit-bar">
        <button value="Submit" type="submit" class="btn btn-success">
  	<i class="fa fa-floppy-o"></i> Save Changes
        </button>
  
  
        {% if object.pk %}
  	<a class="btn btn-warning" href="{% url 'farm_list' %}{{ object.pk }}">
  	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
  	</a>
        {% else %}
  	<a class="btn btn-warning" href="{% url 'farm_list' %}">
  	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
  	</a>
        {% endif %}
  
        {% if object.pk %}
  	<a class="btn btn-danger" href="{% url 'farm_list' %}delete/{{ object.pk }}">
  	  <i class="fa fa-times fa-fw"></i> Delete
  	</a>
        {% endif %}
  
      </div>
  
      {{ formset.management_form }}
  
    </form>
  
{% endblock %}
