{% extends "base.html" %}

{% load model_blocks %}
{% load object_name %}

{% block title %}Probe Readings{% endblock %}

{% block content %}

  <table class="list-table">
    <thead>
      <tr>
	<th>Farm Code</th>
	<th>Probe Code</th> 
	<th>Date and Time</th>
	<th>Soil Potential 8"    <!-- " --> </th> 
	<th>Soil Potential_16"  <!-- " --> </th>  
	<th>Soil Potential_32"  <!-- " --> </th>
	<th>Battery %</th> 
	<th>Thermocouple 1 Temp</th>
	<th>Thermocouple 2 Temp</th>
      </tr>
    </thead>

    <tbody>
      {% for item in object_list %}
	<tr> 
	  <td>
	    {{ item.farm_code }}
	  </td>
	  <td>
	    {{ item.probe_code }}
	  </td>
	  <td>
	    {{ item.reading_datetime }}
	  </td>
	  <td>
	    {{ item.soil_potential_8 }}
	  </td> 
	  <td>
	    {{ item.soil_potential_16 }}
	  </td>
	  <td>
	    {{ item.soil_potential_32 }}
	  </td>
	  <td>
	    {{ item.battery_percent }}
	  </td>
	  <td>
	    {{ item.thermocouple_1_temp }}
	  </td>
	  <td>
	    {{ item.thermocouple_2_temp }}
	  </td>
	</tr>
      {% endfor %}

      <tbody>
  </table>
{% endblock %}
