{% extends "base.html" %}


{% block content %}

  <h1>
  	
    <i class="fa fa-pencil-square-o fa-fw"> </i>
   
    <form method="get">
    	Daily report for <input type="text" id="datepicker" 
    	name="date"
    	value='{{today_date |date:"Y-m-d" }}' 
    	style="width: 6em">
    </form>
  </h1>
 <!--   	onchange="this.form.submit()" -->

  <h2>
    <em>{{crop_season}}</em>
  </h2>

    {% if object_list %}

  <table class="tablesorter formset summary-report" id="summaryreport" >
    <thead>
      <tr class class="header1">
      	<th rowspan=2>Farm</th>
      	<th rowspan=2>Field</th>
      	<th rowspan=2>Crop</th>
      	<th rowspan=2 class="sorter-false">Growth Stage</th>
      	<th rowspan=2 class="sorter-false">Status</th>
      	<th rowspan=2 class="sorter-false">Message</th>
      	<th rowspan=2 class="sorter-false">Days to Irrigation</th>
      	<th colspan=2 class="sorter-false">Water</th>
      	<th colspan=2 class="sorter-false">Last Entry</th>
      </tr>
      <tr class="header2">
      	<th class="sorter-false">Cumulative Water - Rain</th>
      	<th class="sorter-false">Cumulative Water - Irrigation</th>
      	<th class="sorter-false">Type</th>
      	<th class="sorter-false">Date</th>
      </tr>
<!-- <tr> -->
<!--       <th> col1 </th> -->
<!--       <th> col2 </th> -->
<!--       <th> col3 </th> -->
<!--       <th> col4 </th> -->
<!--       <th> col5 </th> -->
<!--       <th> col6 </th> -->
<!--       <th> col7 </th> -->
<!--       <th> col8 </th> -->
<!--       <th> col9 </th> -->
<!--       <th> col10 </th> -->
<!--       <th> col11</th> -->
<!-- </tr> -->
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
	<td>{{ object.farm}} </td>
	<td><a href = 'http://{{ object.water_register_url }}'>{{ object.field}}</a> </td>
	<td>{{ object.crop }}</td>
	<td>{{ object.growth_stage }}</td>
	<!-- Copy code from water_register for the status. -->
	<td>
		{% if object.water_register_object.irrigate_flag %}
		  <div class="alert-inline alert-danger">
		    <b>Irrigate Today</b>
		    {% if object.water_register_object.average_water_content <= 0.0 %}
		      AWC
		    {% endif %}
		    {% if object.water_register_object.max_temp_2in < object.water_register_object.max_observed_temp_2in %}
		      Temp
		    {% endif %}
		  </div>
		{% elif object.water_register_object.check_sensors_flag %}
		  <div class="alert-inline alert-warning">
		    Irrigate 1-5 Days
		  </div>
		{% endif %}
		{% if object.water_register_object.dry_down_flag %}
		  <div class="alert-inline alert-info">
		    Dry-Down
		  </div>
		{% endif %}
	</td>
	<td>{{ object.message }}</td>
	<td>{{ object.days_to_irrigation }}</td>
	<td>{{ object.cumulative_rain }}</td>
	<td>{{ object.cumulative_irrigation_vol }}</td>
	<td>{{ object.last_data_entry_type }}</td>
	<td>{{ object.time_last_data_entry }}</td>

      </tr>

      {% endfor %}
  
    </tbody>
  </table>

    {% else %}
      <b> Nothing to display yet. </b>
    {% endif %}


	

{% endblock %}


{% block scripts %}


<script>

$(function() {
	$( "#datepicker" ).datepicker(
		{
			onSelect: function (dateText, inst) {
				$(this).parent('form').submit();
			}
		}		
	);
});

$(document).ready(function() 
    { 
        $('table').tablesorter( {
headers: {
        // set "sorter: false" (no quotes) to disable the column
        0: { sorter: "text" },
        1: { sorter: "text" },
        2: { sorter:  "text"},
        3: { sorter:  "text"},
        4: { sorter:  "text"},
        5: { sorter:  false},
        6: { sorter:  false},
        7: { sorter:  false},
        8: { sorter:  false},
        9: { sorter:  false},
    }
    } 
);
}) 

</script>
{% endblock %}
