{% extends "base.html" %}


{% block content %}

  <h1>
  	
    <i class="fa fa-pencil-square-o fa-fw"> </i>
   
    <form id = "change-date" method="get">
    	Daily report for <input type="text" id="datepicker" 
    	name="date"
    	value='{{report_date |date:"Y-m-d" }}' 
    	onchange="validateAndSubmit()"
    	style="width: 6em">
    </form>
  </h1>
   <div id="date-error" style="color:red; visibility: hidden">
  		Date must be entered in the format YYYY-MM-DD and be a valid day
  </div>


  <h2>
    <em>{{crop_season}}</em>
  </h2>

    {% if object_list %}

  <table class="tablesorter formset summary-report" id="summaryreport" >
    <thead>
      <tr class="header1">
      	<th rowspan=2>Farm</th>
      	<th rowspan=2>Field</th>
      	<th rowspan=2>Crop</th>
      	<th rowspan=2>Growth Stage</th>
      	<th rowspan=2>Status</th>
      	<th rowspan=2 class="sorter-false">Message</th>
      	<th colspan=2 class="sorter-false">Cumulative Water</th>
      	<th colspan=2 class="sorter-false">Last Entry</th>
      </tr>
      <tr class="header2">
      	<th class="sorter-false">Rain</th>
      	<th class="sorter-false">Irrigation</th>
      	<th class="sorter-false">Type</th>
      	<th class="sorter-false">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
		<td>{{ object.farm}} </td>
		<td>
                   <a href = '{{ object.water_register_url }}'>{{ object.field }}</a>
                </td>
		<td>{{ object.crop }}</td>
		<td>{{ object.growth_stage }}</td>
		<!-- Copy code from water_register for the status. -->
		<td class="dti">
			{% if object.water_register_object.irrigate_flag %}
			<div >
		    	<b>Irrigate Today</b>
		    	{% if object.water_register_object.average_water_content <= 0.0 %}
		      	AWC
		    	{% endif %}
		    	{% if object.water_register_object.max_temp_2in and object.water_register_object.max_observed_temp_2in > object.water_register_object.max_temp_2in %}
		      	Temp
		    	{% endif %}
		  	</div>
			{% elif object.water_register_object.check_sensors_flag %}
		  	<div >
		  		{%if object.days_to_irrigation == 1 %}
		    	Irrigate Tomorrow
		    	{% else %}
		    	Irrigate in {{object.days_to_irrigation}} days
		    	{% endif %}
		  	</div>
			{% endif %}
			{% if object.water_register_object.dry_down_flag %}
		  	<div class="alert-inline alert-info">
		    	Dry-Down
		  	</div>
			{% endif %}
		</td>
		<td>{{ object.message }}</td>
		<td>{{ object.cumulative_rain }}</td>
		<td>{{ object.cumulative_irrigation_vol }}</td>
		<td>{{ object.last_data_entry_type }}</td>
		<td>{{ object.time_last_data_entry | date:"Y-m-d H:i:s"}} </td>
	</tr>

   {% endfor %}
  
    </tbody>
  </table>

  {% else %}
      <b> Nothing to display yet. </b>
  {% endif %}


	

{% endblock %}


{% block scripts %}


<script>


function validateAndSubmit() {
	
	var newDate;
	try {
		newDate = $.datepicker.parseDate('yy-mm-dd', $("#datepicker").val());
		window.onbeforeunload = null;
		$("#change-date").submit();
	} catch (e) {
		$("#date-error").css("visibility", "visible");
		return;
	}
	
}

var data_sort_value = 'data-sort-value';

$(document).ready(function() 
    {
    	
    	
		$(".dti").each(function() {
              
			var contents = $(this).text();
               
			$(this).attr(data_sort_value, "100");
         	if (contents.indexOf("Dry") > 0) {
				$(this).attr(data_sort_value, "50");
				$(this).children().first().addClass("alert-inline alert-info");
			} else if (contents.indexOf("Today") > 0) {
				$(this).attr(data_sort_value, "1");
				$(this).children().first().addClass("alert-inline alert-danger");
			} else if (contents.indexOf("Tomorrow") > 0) {
				$(this).attr(data_sort_value, "2");
				$(this).children().first().addClass("alert-inline alert-warning");
			} else {
				number = contents.replace(/\D/g, '');
				if (number != "") {
					$(this).attr(data_sort_value, "" + (parseInt(number) + 1));
					if (number < 4) {
						$(this).children().first().addClass("alert-inline alert-warning");
					} else {
						$(this).children().first().addClass("alert-inline alert-success");
					}
				}
			}
		});
               

    	
    	
    	$('table').tablesorter( {
    		textExtraction: function(node) {
      			var attr = $(node).attr(data_sort_value);
        		if (typeof attr !== 'undefined' && attr !== false) {
             		return attr;
        		}
        		return $(node).text(); 
        		
      		},
    	
    		sortList: [[4,0]],
    		
			headers: {
        		// set "sorter: false" (no quotes) to disable the column
        		0: { sorter: "text" },
        		1: { sorter: "text" },
       		 	2: { sorter:  "text"},
        		3: { sorter:  "text"},
        		4: { sorter:  "digit"},
       		 	5: { sorter:  false},
       		 	6: { sorter:  false},
        		7: { sorter:  false},
        		8: { sorter:  false},
    		}
      });
	
	$( "#datepicker" ).datepicker(
		{
			maxDate: new Date(),
			minDate: new Date(2013, 03, 01)
		}		
	);
	
});


</script>
{% endblock %}
