{% extends "base.html" %}

{% load today_filters %}
{% load day_records %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <h1 class="global-data" data-report-date="{{report_date |date:"Y-m-d" }}">
        
        <i class="fa fa-pencil-square-o fa-fw"> </i>
        
        Water Register for <input type="text" id="datepicker" 
                                  onchange="dateChangedManually()"
                                  name="report-date"
                                  value='{{report_date |date:"Y-m-d" }}' 
                                  style="width: 6em">
    </h1>

    <div id="date-error" style="color:red; display: none">
        Date must be a valid date in the format YYYY-MM-DD between
        {{crop_season.season_start_date|date:"Y-m-d"}} and
        {{crop_season.season_end_date|date:"Y-m-d"}}.
    </div>

    <h2>
        <em>
	  <a href="{% url 'crop_season_id' crop_season.id %}">
	    {{crop_season}} - {{field}}
	  </a>
	</em>
        
        <button id="rows_option" 
                class="btn btn-success float-right"
                type="button" 
                style="margin-bottom: 10px">Show Entire Season</button>
    </h2>

    {% if object_list %}
        {{ wh_formset.id }}
        <form  id="unified_form" action="{{ request.path }}" method="post" novalidate>{% csrf_token %}
            <div class ="unit-choices">
                <table>
                    <tr>
                        <td>Unit preference:</td>
                        <td>Temperature:</td>
                        <td>
                            <select id="temp_units" name="temp_units" onchange="convert_temps()">
                                <option value="F" selected>Farenheit</option>
                                <option value="C">Celsius</option>
                            </select>
                        </td>
                        <td>Depth:</td>
                        <td>
                            <select id="depth_units" name="depth_units" onchange="convert_depths()">
                                <option value="in" selected>Inches</option>
                                <option value="cm">Centimeters</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>


            <table class="formset unified-table" >
                <thead>
                    <tr class="header1">
                        <th rowspan=2>Date</th>
                        <th rowspan="2">Time</th>
                        <th rowspan=2>Source</th>
                        <th colspan=3>Soil Potential</th>
                        <th colspan=2>Soil Temperature</th>
                        <th colspan="2">Added Water</th>
                        <th rowspan="2">Ignore / Delete</th>
                        <th colspan="2">Crop</th>
                        <th rowspan="2">Available Water Content (AWC)</th>
                        <th rowspan="2">Recom&shy;men&shy;dation</th>
                        <th rowspan="2">Message</th>
                        <th rowspan="2">Comment</th>
                    </tr>
                    <tr class="header2">
                        <th>8in</th>
                        <th>16in</th>
                        <th>24in</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Rain</th>
                        <th>Irri&shy;gation</th>
                        <th>Stage</th>
                        <th>DWU</th>
                    </tr>
                </thead>

                <tbody>

                    {% for object in object_list %}

                        {% comment %}
                        Special case when there is no uga or manual reading. Can't ignore or delete.
                        {% endcomment %}

                        {% if object|day_records == 0 %}
                            <tr class ="data_row"
                                data-for-date="{{ object.date|date:'Y-m-d' }}"
                                id="row-{{ object.date|date:'Y-m-d' }}"
                                {% if object.date|is_today  %}class="row-today" {% endif %}
                                {% if object.date|is_past   %}class="row-past"  {% endif %}
                                {% if object.date|is_future %}class="row-future"{% endif %}
                                >


                                <td>
                                    {{ object.date|date:"Y-m-d"}}
                                    {% comment %}
                                    If date is later than report date (usually today) then we don't
                                    allow adding manual entry forms.
                                    {% endcomment %}
                                    {% if not object.date|is_future %}
                                        <br>
                                        <button type="button" 
						whichone="1"
                                                onclick="addRow('row-{{ object.date|date:"Y-m-d" }}', 
                                                         '{{ object.date|date:"Y-m-d"}}', 
                                                         '', /*'{{ object.time|time:"H:M"}}', */ 
                                                         {{ crop_season.pk }});">
                                            <i class="fa fa-plus-square-o"></i>
                                        </button>
                                    {% endif %}
                                </td>
                                <td></td>
                                <td>None</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td></td>

                                <td>{{ object.water_register.crop_stage }}</td>
                                <td>{{ object.water_register.daily_water_use }}</td>
                                <td>
	                            {% if object.water_register.computed_from_probes %}
		                        <i class="fa fa-rss"></i>
	                            {% endif %}
	                            {{ object.water_register.average_water_content|floatformat:2 }}
	                            {% if object.water_register.average_water_content <= 0.0 %}
		                        <img src="/static/img/svg/droplet_red.svg" height="14px" style="vertical-align:text-bottom;"/> 
	                            {% endif %}
                                </td>
                                <td class ="dti" rowspan="{{ rowspan }}">
	                            {% if object.water_register.irrigate_flag %}
		                        <div>
		                            <b>Irrigate Today</b>
		                            {% if object.water_register.average_water_content <= 0.0 %}
		                                AWC
		                            {% endif %}
		                            {% if object.water_register.max_temp_2in and object.water_register.max_temp_2in  < object.water_register.max_observed_temp_2in %}
		                                Temp
		                            {% endif %}
                                            
		                        </div>
		                    {% elif object.water_register.check_sensors_flag %}
		                        <div >
		                            {%if object.water_register.days_to_irrigation == 1 %}
		                                Irrigate Tomorrow
		                            {% else %}
		                                Irrigate in {{object.water_register.days_to_irrigation}} days
		                            {% endif %}
		                        </div>
		                    {% endif %}
		                    {% if object.water_register.dry_down_flag %}
		                        <div >
		                            Dry-Down
		                        </div>
		                    {% endif %}
                                </td>
                                
                                <td>{{ object.water_register.message }}</td>
                                
                                <td></td>
                            </tr>
                        {% else %}
                            {% comment %}
                            Else statement for if object|day_records == 0
                            Will look through all the record. It is assumed that the UGA record is the first.
                            After load some jquery/javascript will make uga record non-editable except for
                            the ignore and comment fields.
                            {% endcomment %}

                            {% for form in object.all_forms  %}


                                {% comment %}

                                List the water history records. If this is the
                                first for this date AND there is no probe
                                readings then this is the first row for this
                                date in the table.

                                {% endcomment %}


                                <tr data-for-date='{{ object.date|date:"Y-m-d" }}'
                                    class="data_row {{ form.source.value }}"
                                    id="row-manual-{{ object.date|date:"Y-m-d" }}-{{ forloop.counter0 }}">
                                    {% with rowspan=object|day_records %}
                                        {% if forloop.first %}
                                            <td rowspan= "{{rowspan}}" >{{ object.date|date:"Y-m-d"}}<br>
                                                <button type="button"  
						        whichone="4"
                                                        onclick="addRow('row-manual-{{ object.date|date:"Y-m-d" }}-{{ object.all_forms|length|sub:1 }}', 
						                 '{{ object.date|date:"Y-m-d"}}', 
   								 '{{ object.time|time:"H:M"}}', 
						                 {{ crop_season.pk }});">
                                                    <i class="fa fa-plus-square-o"></i>
					        </button>
                                            </td>
                                        {% endif %}
  	                                {% for input in form %}
  	                                    {% if input.is_hidden %}
  		                                {{ input }}
                                            {% endif %}
                                        {% endfor %}

                                        <td class="uga-time uga-hide" >
                                            <input class="time-entry" id='manual-entry-time-{{ form.datetime.auto_id|form_index }}'
                                                   name='manual-entry-time-{{ form.datetime.auto_id|form_index }}'
                                                   value="{{ form.instance.datetime|time_format }}"/>
                                        </td>
                                        <td>{{ form.source.value }}</td>
                                        <td class="uga-hide">{{ form.soil_potential_8.error }}{{ form.soil_potential_8 }}</td>
                                        <td class="uga-hide">{{ form.soil_potential_16.error }}{{ form.soil_potential_16 }}</td>
                                        <td class="uga-hide">{{ form.soil_potential_24.error }}{{ form.soil_potential_24 }}</td>
                                        
                                        <td class="units_temp_form uga-hide">{{ form.min_temp_24_hours.error }}{{ form.min_temp_24_hours }}</td>
                                        <td class="units_temp_form uga-hide">{{ form.max_temp_24_hours.error }}{{ form.max_temp_24_hours }}</td>
                                        
                                        <td class="units_depth_form uga-hide">{{ form.rain.error }}{{ form.rain }}</td>
                                        <td class="units_depth_form uga-hide">{{ form.irrigation.error }}{{ form.irrigation }}</td>
                                        <td>{{ form.ignore }}</td>

                                        
                                        {% if forloop.first %}
                                            <td rowspan="{{ rowspan }}">{{ object.water_register.crop_stage }}</td>
                                            <td rowspan="{{ rowspan }}">{{ object.water_register.daily_water_use }}</td>
                                            <td rowspan="{{ rowspan }}">
                                                {% if object.water_register.computed_from_probes %}
		                                    <i class="fa fa-rss"></i>
	                                        {% endif %}
	                                        {{ object.water_register.average_water_content|floatformat:2 }}
	                                        {% if object.water_register.average_water_content <= 0.0 %}
		                                    <img src="/static/img/svg/droplet_red.svg" height="14px" style="vertical-align:text-bottom;"/> 
	                                        {% endif %}
                                            </td>
                                            <td class ="dti" rowspan="{{ rowspan }}">
	                                        {% if object.water_register.irrigate_flag %}
		                                    <div>
		                                        <b>Irrigate Today</b>
		                                        {% if object.water_register.average_water_content <= 0.0 %}
		                                            AWC
		                                        {% endif %}
		                                        {% if object.water_register.max_temp_2in and object.water_register.max_temp_2in  < object.water_register.max_observed_temp_2in %}
		                                            Temp
		                                        {% endif %}
                                                        
		                                    </div>
		                                {% elif object.water_register.check_sensors_flag %}
		                                    <div >
		                                        {%if object.water_register.days_to_irrigation == 1 %}
		                                            Irrigate Tomorrow
		                                        {% else %}
		                                            Irrigate in {{object.water_register.days_to_irrigation}} days
		                                        {% endif %}
		                                    </div>
		                                {% endif %}
		                                {% if object.water_register.dry_down_flag %}
		                                    <div >
		                                        Dry-Down
		                                    </div>
		                                {% endif %}
                                            </td>
                                            
                                            <td rowspan="{{ rowspan }}">{{ object.water_register.water_register.message }}</td>

                                        {% endif %}
                                        <td>{{ form.comment }}</td>

                                </tr>
                                    {% endwith %}
                            {% endfor %}


                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="submit-bar">
                <button value="Submit" type="submit" class="btn btn-success">
  	            <i class="fa fa-floppy-o"></i> Save Changes
                </button>        
  		<a class="btn btn-warning" href="{{ request.get_full_path }}">
  	            <i class="fa fa-undo fa-fw"></i> Cancel Changes
  	        </a>
            </div>

            
            {{ wh_formset.management_form }}
        </form>



        <BR>
        <BR>

        <div class = "row">
            <div class = "col-md-4 col-xs-12">
	        <img class = " water-register-plot" src= {%url 'daily_use' crop_season.pk field.pk  %} />
            </div> <!-- col-md-4-->
            <div class = "col-md-4 col-xs-12">
	        <img class = " water-register-plot" src= {%url 'cumulative_use'  crop_season.pk field.pk  %} />
            </div> <!-- col-md-4-->
            <div class = "col-md-4 col-xs-12">
	        <img class = " water-register-plot" src= {%url 'daily_temperature'  crop_season.pk field.pk  %} />
            </div> <!-- col-md-4-->
            
        </div> <!-- row -->




    {% else %}
        {% if crop_season.season_start_date > report_date or crop_season.season_end_date < report_date  %}
            <div class="alert alert-danger">
                No data to display.  Today ({{report_date|date:'Y-m-d'}}) is outside the crop season period
                ({{crop_season.season_start_date|date:'Y-m-d'}} to {{crop_season.season_end_date|date:'Y-m-d'}}).
            </div>
        {% else %}    
            <div class="alert alert-danger">
                No data to display.
            </div>
        {% endif %}
    {% endif %}
{% endblock %}


{% block scripts %}

    <!-- Code to handle special features of unified_field_data page -->
    {% if debug %}
        <script src="{{ STATIC_URL }}js/unified_field_data_list.js?t={% now 'c' %}"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/unified_field_data_list.js"></script>
    {% endif %}

    <!-- When checkbox is toggled, change text in row to strike-through --> 
    {% if debug %}
        <script src="{{ STATIC_URL }}js/strikeout.js?t={% now 'c' %}"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/strikeout.js"></script>
    {% endif %}

    <!-- provides datetime parsing/formatting and now() -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    <script>
     $(function() {
         $( "#datepicker" ).datepicker(
    	     {
    	         minDate: new Date({{crop_season.season_start_date.year}},
    	                           {{crop_season.season_start_date.month}}-1,
    	                           {{crop_season.season_start_date.day}}),
    	         maxDate: new Date({{crop_season.season_end_date.year}},
    	                           {{crop_season.season_end_date.month}}-1,
    	                           {{crop_season.season_end_date.day}})
    	     }		
    	 );

         $('select').chosen();
         $('.chosen-container').css('width','10em');


     });

     function getStartDate() {
         return new Date({{crop_season.season_start_date.year}},
                         {{crop_season.season_start_date.month}}-1,
                         {{crop_season.season_start_date.day}});
     }

     function getEndDate() {
         return new Date({{crop_season.season_end_date.year}},
                         {{crop_season.season_end_date.month}}-1,
                         {{crop_season.season_end_date.day}});

     }

     $('select').chosen();

    </script>

{% endblock %}

