{% extends "base.html" %}

{% block content %}

  <h1>
    <i class="fa fa-cloud fa-fw"></i>
    Rainfall and Irrigation
  </h1>
 
    <h2>Season: <em>{{season}}</em>
      {% if field %}
        - Field: <em>{{ field }}</em>
      {% endif %}
    </h2>
  



    <form id="formset" action="{{ request.path }}" method="post">{% csrf_token %}

    {% include "unit_conversions.html" %}  
  
      {% if formset.non_form_errors %}
        {% for dict in formset.non_form_errors %}
          {% for key,value in dict.items %}
    	  <div class="alert alert-danger">
    	    {{ value }}
    	  </div>
          {% endfor %}
        {% endfor %}
      {% endif %}

      <table class="formset irr_data" >
  
        <thead>
  	<tr>
  	  <th>Date & Time</th>
	  <th>Source</th>
  	  <th class="depth_header">Rain</th>
  	  <th class="depth_header">Irrigation</th>
  	  <th>Soil Potential 8" </th>
  	  <th>Soil Potential 16"</th>
  	  <th>Soil Potential 24"</th>
  	  <th class="temp_header">Min Temp</th>
  	  <th class="temp_header">Max Temp</th>
  	  <th>Comment</th>
  	  <th>Ignore</th>
  	  <th>Delete</th>
  	</tr>
        </thead>
  
  
        <tbody>
  	{% for form in formset %}
            {% for input in form %}
  	        {% if input.is_hidden %}
  		    {{ input }}
                {% endif %}
            {% endfor %}


	  {% if form.source.value == "UGA" %}
	    <tr class="readonly">
	  {% else %}
            <tr class="">
	  {% endif %}
	    </td>
  	    {% for input in form %}
  	      {% if not input.is_hidden %}
  		<td>
  		  {% if input.errors %}
  		    <div class="inline-alert alert-danger">
  		      {{ input.errors }}
  	            </div>
  		  {% endif %}
  		  {{ input }}
  		</td>
  	      {% else %}
  		{{ input }}
  	      {% endif %}
  	    {% endfor %}
  	  </tr>
  	{% endfor %}
      </table>
  
  
      <div class="submit-bar">
        <button value="Submit" type="submit" class="btn btn-success">
  	<i class="fa fa-floppy-o"></i> Save Changes
        </button>
  
  
  	<a class="btn btn-warning" href="{{ request.get_full_path }}">
  	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
  	</a>
      </div>
  
  
      {{ formset.management_form }}
  
    </form>

{% endblock %}



{% block scripts %}

    {% if debug %}
        <script src="{{ STATIC_URL }}js/units_conversion.js?t={% now 'c' %}"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/units_conversion.js"></script>
    {% endif %}

  <!-- When checkbox is toggled, change text in row to strike-through --> 
  {% if debug %}
    <script src="{{ STATIC_URL }}js/strikeout.js?t={% now 'c' %}"></script>
  {% else %}
    <script src="{{ STATIC_URL }}js/strikeout.js"></script>
  {% endif %}
  
  <script type="text/javascript">
  /* This function cleans up datepickers when a new formset row is added */
  function renewDatePickers() {
      /* Clear out old datepicker event handlers */
      $("input[id$=date]").datepicker('destroy');
  
      /* Remove buttons that got copied by formset.add */
      $("input[id$=date]").siblings("button").remove();
  
      /* 
         Re-activate date pickers, restricting dates to the range 
         specified by the crop season   
      */
      $("input[id$=date]").datepicker({ 
          minDate: '{{ season.season_start_date|date:"Y-m-d" }}',
          maxDate: '{{ season.season_end_date|date:"Y-m-d" }}',
      });
  }
  
  $(function() {
      /* Enable add row / delete row */
      $('.irr_data tbody tr').formset({
          addText: '<i class="iTooltip add-icon fa fa-plus-square" help="Add Row"> Add Row</i>',
          deleteText: '<i class="iTooltip delete-icon fa fa-minus-square" help="Delete Row"></i>',
          keepFieldValues: "input[type$=number]",
          added: function(row) { 
               renewDatePickers,
               $(row).find("input[id$=time]").datetimepicker().css({"width":"12em", "margin":"2px"});
               $(row).find("select[id$=source]").val("User Entry");
               $(row).find("select[id$=source]").prop("disabled",true).trigger("chosen:updated");    
          }
      })
  
      /*
        Instead of setting the minDate/maxDate separately, 
        reuse renewDatePickers code 
      */
      renewDatePickers();

    $("table.formset").floatThead({
        scrollingTop:50
    });

    $("select[id$=source]").each( function() { 
         $(this).val( $(this).prop('value') ) 
         $(this).prop('disabled', true).trigger("chosen:updated");
    });

    $("#formset").submit(function(){
        $("select[id$=source]").prop('disabled',false);
    });


  })
</script>

{% endblock %}
