{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
{% endblock %}



{% block content %}

  <h1>
    <i class="fa fa-cloud fa-fw"></i>
    Rainfall and Irrigation
  </h1>
 
    <h2>Season: <em>{{season}}</em>
      {% if field %}
        - Field: <em>{{ field }}</em>
      {% endif %}
    </h2>
  
    <form id="formset" action="{{ request.path }}" method="post">{% csrf_token %}
  
  
      {% if formset.non_form_errors %}
        {% for dict in formset.non_form_errors %}
          {% for key,value in dict.items %}
    	  <div class="alert alert-danger">
    	    {{ value }}
    	  </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
  
  
      <table class="formset" >
  
        <thead>
  	<tr>
  	  <th>Date & Time</th>
	  <th>Source</th>
  	  <th>Rain</th>
  	  <th>Irrigation</th>
  	  <th>Soil Potential 8" </th>
  	  <th>Soil Potential 16"</th>
  	  <th>Soil Potential 24"</th>
  	  <th>Min Temp (&deg;F)</th>
  	  <th>Max Temp (&deg;F)</th>
  	  <th>Comment</th>
  	  <th>Ignore</th>
  	  <th>Delete</th>
  	</tr>
        </thead>
  
  
        <tbody>
  	{% for form in formset %}
	  {% if form.source.value == "UGA" %}
	    <tr class="readonly">
	  {% else %}
            <tr class="">
	  {% endif %}
	    </td>
  	    {% for input in form %}
  	      {% if not input.is_hidden %}
  		<td>
  		  {% if input.errors %}
  		    <div class="inline-alert alert-danger">
  		      {{ input.errors }}
  	            </div>
  		  {% endif %}
  		  {{ input }}
  		</td>
  	      {% else %}
  		{{ input }}
  	      {% endif %}
  	    {% endfor %}
  	  </tr>
  	{% endfor %}
      </table>
  
  
      <div class="submit-bar">
        <button value="Submit" type="submit" class="btn btn-success">
  	<i class="fa fa-floppy-o"></i> Save Changes
        </button>
  
  
        {% if object.pk %}
  	<a class="btn btn-warning" href="{% url 'farm_list' %}{{ object.pk }}">
  	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
  	</a>
        {% else %}
  	<a class="btn btn-warning" href="{% url 'farm_list' %}">
  	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
  	</a>
        {% endif %}
  
        {% if object.pk %}
  	<a class="btn btn-danger" href="{% url 'farm_list' %}delete/{{ object.pk }}">
  	  <i class="fa fa-times fa-fw"></i> Delete
  	</a>
        {% endif %}
  
      </div>
  
  
      {{ formset.management_form }}
  
    </form>

{% endblock %}



{% block scripts %}
  <!-- When checkbox is toggled, change text in row to strike-through --> 
  {% if debug %}
    <script src="{{ STATIC_URL }}js/strikeout.js?t={% now 'c' %}"></script>
  {% else %}
    <script src="{{ STATIC_URL }}js/strikeout.js"></script>
  {% endif %}
  
  <script type="text/javascript">
  /* This function cleans up datepickers when a new formset row is added */
  function renewDatePickers() {
      /* Clear out old datepicker event handlers */
      $("input[id$=date]").datepicker('destroy');
  
      /* Remove buttons that got copied by formset.add */
      $("input[id$=date]").siblings("button").remove();
  
      /* 
         Re-activate date pickers, restricting dates to the range 
         specified by the crop season   
      */
      $("input[id$=date]").datepicker({ 
          minDate: '{{ season.season_start_date|date:"Y-m-d" }}',
          maxDate: '{{ season.season_end_date|date:"Y-m-d" }}',
      });
  }
  
  $(function() {
      /* Enable add row / delete row */
      $('#formset tbody tr').formset({
          addText: '<i class="iTooltip add-icon fa fa-plus-square" help="Add Row"> Add Row</i>',
          deleteText: '<i class="iTooltip delete-icon fa fa-minus-square" help="Delete Row"></i>',
          added: renewDatePickers,
          keepFieldValues: "input[type$=number]",
      })
  
      /*
        Instead of setting the minDate/maxDate separately, 
        reuse renewDatePickers code 
      */
      renewDatePickers();
  
  })
</script>

{% endblock %}
