{% extends "base.html" %}

{% load today_filters %}
{% load static %}

{% block content %}


<script>

function createTH(rowSpan, colSpan, value) {
   th = document.createElement("TH");
   th.rowSpan = rowSpan;
   th.colSpan = colSpan;
   //th.appendChild(document.createTextNode(value));
   th.innerHTML = value;
   return th;
}


function redrawTable() {
    var section = document.getElementById("newTable");
    var nbRows = document.getElementById("numb").value;
    if (nbRows <= 0 ) {
        nbRows = 1000; // Number high enough to cover whole season
    } 

    console.log(nbRows);
    section.innerHTML = "";
    section.appendChild(tableCreate(nbRows));

}

function tableCreate(nbToDisplay){


    tbl  = document.createElement('table');
    tbl.className = 'formset water-register id="water-register"';

    var header = tbl.createTHead();
    var headerRow0 = header.insertRow();
    headerRow0.className = "header1";
    headerRow0.appendChild(createTH(2, 1, "Date"));
    headerRow0.appendChild(createTH(2, 1, "Growth Stge"));
    headerRow0.appendChild(createTH(1, 4, "Water"));
    headerRow0.appendChild(createTH(1, 2, "Max Soil Temp (&deg;F)"));
    headerRow0.appendChild(createTH(2, 1, "Status"));
    headerRow0.appendChild(createTH(2, 1, "Message"));

    var headerRow1 = header.insertRow();
    headerRow1.className = "header2";
    headerRow1.appendChild(createTH(1, 1, "DWU"));
    headerRow1.appendChild(createTH(1, 1, "RAIN"));
    headerRow1.appendChild(createTH(1, 1, "Irrigation"));
    headerRow1.appendChild(createTH(1, 1, "AWC"));
    headerRow1.appendChild(createTH(1, 1, "Permitted"));
    headerRow1.appendChild(createTH(1, 1, "Observed"));

    var nbRecords = {{nb_records}};
    var firstToDisplay = Math.max(nbRecords - nbToDisplay, 0);
    console.log(nbRecords);

   // Insert the data
        var row;
        var td;
        var recNO = 0;
   	{% for object in object_list %}
        if (recNO++ >= firstToDisplay) {

        row = tbl.insertRow();
             {% if object.date == today_date  %}row.className = "row-today" {% endif %}
	     {% if object.date < today_date   %}row.className = "row-past"  {% endif %}
	     {% if object.date > today_date   %}row.className = "row-future"{% endif %}
      
        td = row.insertCell();
        td.innerHTML = "{{ object.date|date:'Y-m-d' }}";

        td = row.insertCell();
        td.innerHTML = "{{ object.crop_stage}}";

        td = row.insertCell();
        {% if object.computed_from_probes %}
           td.className = "computed-from-probes"
        {% endif %}
        td.appendChild(document.createTextNode("{{ object.daily_water_use|floatformat:2 }}"));


        td = row.insertCell();
        {% if object.computed_from_probes %}
           td.className = "computed-from-probes"
        {% endif %}
        td.appendChild(document.createTextNode("{{object.rain|floatformat:2 }}"));


        td = row.insertCell();
        {% if object.computed_from_probes %}
           td.className = "computed-from-probes"
        {% endif %}
        td.appendChild(document.createTextNode("{{object.irrigation|floatformat:2 }}"));



        // NEED TO ADD IMAGE
        td = row.insertCell();
        var cellContent = "";
        {% if object.computed_from_probes %}
           cellContent += "<i class=\"fa fa-rss\"></i>";
        {% endif %}
        cellContent += "{{ object.average_water_content|floatformat:2 }}";
        {% if object.average_water_content <= 0.0 %}
            cellContent += ' <img src="/static/img/svg/droplet_red.svg" height="14px" style="vertical-align:text-bottom;"/> ';
        {% endif %}
        td.innerHTML = cellContent;


        td = row.insertCell();
        td.appendChild(document.createTextNode("{{ object.max_temp_2in|floatformat:1}}"));

        td = row.insertCell();
        {% if not object.date|is_future %}
          var cellContent =  "{{ object.max_observed_temp_2in|floatformat:1 }}";
          {% if object.max_temp_2in < object.max_observed_temp_2in %}
             cellContent +=  ' <img src="/static/img/svg/thermometer.svg" alt="therm" height= "14px" style="vertical-align:text-bottom;" ></img>';
          {% endif %}
          td.innerHTML = cellContent;
        {% endif %}

        td = row.insertCell();
        {% if object.irrigate_flag %}
            td.className = "alert-inline alert-danger";
            b = td.appendChild(document.createElement("B"));
            b.appendChild(document.createTextNode("Irrigate Today"));
            {% if object.average_water_content <= 0.0 %}
                td.appendChild(document.createTextNode(" AWC "));
	    {% endif %}
	    {% if object.max_temp_2in < object.max_observed_temp_2in %}
                td.appendChild(document.createTextNode(" Temp "));
	    {% endif %}


	{% elif object.check_sensors_flag %}
            td.className = "alert-inline alert-warning";
            td.appendChild(document.createTextNode("Irrigate 1-5 Days"));
        {% endif %}

        {% if object.dry_down_flag %}
            td.className = "alert-inline alert-info";
            td.appendChild(document.createTextNode("Dry-Down"));

        {% endif %}



        td = row.insertCell();
        td.innerHTML = "{{ object.message}}";

     }

	{% endfor %}

    return tbl;
}
	   
</script>

  <h1>
    <i class="fa fa-pencil-square-o fa-fw"></i>
    Water Register
  </h1>

  <h2>
    <em>{{crop_season}}</em>
    - 
    <em>{{field}}</em>
  </h2>









  {% if object_list %}
  
  <div>
    Display only the last <input id="numb" type="number" value="15"
				 onchange="redrawTable()" /> records. <br/>
    Of this number 7 will be after today, or till the end of the season.<br/>
    For the entire season enter 0.<br/>
   <button type="button" onclick="redrawTable()">Update</button>

  </div>

  <div id = "newTable">  </div>

  <h3>Plots of recent activity</h3>


  <div class = "row">
    <div class = "col-md-6 col-xs-12">
      <img class = " water-register-plot" src= {%url 'daily_use' crop_season.pk field.pk  %} />
    </div> <!-- col-md-6-->
    <div class = "col-md-6 col-xs-12">
      <img class = " water-register-plot" src= {%url 'cumulative_use'  crop_season.pk field.pk  %} />
    </div> <!-- col-md-6-->
  </div> <!-- row -->

  <script> document.getElementById("newTable").appendChild(tableCreate(17))</script> 

  {% else %}

    <div class="alert alert-danger">
      No data to display.  Check that Crop
      Season <em>{{crop_season}}</em> has events defined for field {{field}}.
    </div>

  {% endif %}




{% endblock %}


{% block scripts %}
{% endblock %}
