{% extends "base.html" %}


{% load object_name %}


{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#formset tbody tr').formset({
            addText: '<i class="iTooltip add-icon fa fa-plus-square" help="Add Row"> Add Row</i>',
            deleteText: '<i class="iTooltip delete-icon fa fa-minus-square" help="Delete Row"></i>' //'Delete Row',
        })
    })
</script>
{% endblock %}


{% block content %}

  <h2>Water History</h2>
  
  <form id="formset" action="{{ request.path }}" method="post">{% csrf_token %}
    
    <table class="formset" >

      <thead>
	<tr>
	  <th>Date</th>
	  <th>Fields</th>
	  <th>Rain</th>
	  <th>Irrigation</th>
	  <th>Comment</th>
	  <th></th>
	  <th>Delete</th>
	</tr>
      </thead>


      <tbody>
	{% for field in formset %}
	  <tr>
	    {% for input in field %}
	      <td>
		{% if input.errors %}
		  <div class="inline-alert alert-danger">
		    {{ input.errors }}
	          </div>
		{% endif %}
		{{ input }}
	      </td>
	    {% endfor %}
	  </tr>
	{% endfor %}
	</table>

	
    <div class="submit-bar">
      <button value="Submit" type="submit" class="btn btn-success">
	<i class="fa fa-floppy-o"></i> Save Changes
      </button>
      
      
      {% if object.pk %}
	<a class="btn btn-warning" href="{% url 'farm_list' %}{{ object.pk }}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% else %}
	<a class="btn btn-warning" href="{% url 'farm_list' %}">
	  <i class="fa fa-undo fa-fw"></i> Cancel Changes
	</a>
      {% endif %}
      
      {% if object.pk %}
	<a class="btn btn-danger" href="{% url 'farm_list' %}delete/{{ object.pk }}">
	  <i class="fa fa-times fa-fw"></i> Delete
	</a>
      {% endif %}
	    
    </div>

    
    {{ formset.management_form }}

    
  </form>

{% endblock %}
