{% extends "base.html" %}

{% load today_filters %}

{% block content %}

  <h1>
    <i class="fa fa-pencil-square-o fa-fw"></i>
    Water Register
  </h1>

  <h2>
    <em>{{crop_season}}</em>
    - 
    <em>{{field}}</em>
  </h2>



  {% if object_list %}

    <table class="formset water-register" id="water-register">

      <thead>
      	<tr class="header1">
          <th rowspan=2>Date</th>
          <th rowspan=2>Growth Stage</th>
          <th colspan=4>Water</th>
	  <th colspan=2>Max Soil Temp (&deg;F)</th>
	  <!--th rowspan=2>
	    <i class="fa fa-rss"></i> 
	    <img src="/static/img/svg/thermometer.svg" height="14px" style="vertical-align:text-bottom;"/>		  
	  </th-->
          <th rowspan=2>Status</th>
	  <th rowspan=2>Message</th>
       	</tr>
      	<tr class="header2">
          <th>DWU</th>
          <th>Rain</th>
          <th>Irrigation</th>
          <th>AWC</th>
	  <th>Permitted</th>
	  <th>Observed</th>
       	</tr>
      </thead>

      <tbody>
	{% for object in object_list %}
	  <tr 
	     {% if object.date == today_date  %}class="row-today" {% endif %}
	     {% if object.date < today_date   %}class="row-past"  {% endif %}
	     {% if object.date > today_date %}class="row-future"{% endif %}
  	     >
	      <td>
		{{ object.date|date:"Y-m-d" }}
	      </td>
	      <td>
		{{ object.crop_stage }}
	      </td>
	      <td {% if object.computed_from_probes %}
		  class="computed-from-probes"
		  {% endif %}
		  >
		{{ object.daily_water_use|floatformat:2 }}
	      </td>
	      <td {% if object.computed_from_probes %}
		  class="computed-from-probes"
		  {% endif %}
		  >
		  {{ object.rain|floatformat:2 }}
	      </td>
	      <td {% if object.computed_from_probes %}
		  class="computed-from-probes"
		  {% endif %}
		  >
		  {{ object.irrigation|floatformat:2 }}
	      </td>
	      <td>
		  {% if object.computed_from_probes %}
		    <i class="fa fa-rss"></i>
		  {% endif %}
		  {{ object.average_water_content|floatformat:2 }}
		  {% if object.average_water_content <= 0.0 %}
		    <img src="/static/img/svg/droplet_red.svg" height="14px" style="vertical-align:text-bottom;"/> 
		  {% endif %}
	      </td>
	      <td>
		    {{ object.max_temp_2in|floatformat:1 }}
	      </td>
	      <td>
		  {% if not object.date|is_future %}
			{{ object.max_observed_temp_2in|floatformat:1 }}
			{% if object.max_temp_2in < object.max_observed_temp_2in %}
			<img src="/static/img/svg/thermometer.svg" height="14px" style="vertical-align:text-bottom;"/>	
			{% endif %}
		  {% endif %}
	      </td>
	      <!--td>
		{% if object.computed_from_probes %}
		  <i class="fa fa-rss"></i>
		{% endif %}
		{% if object.too_hot_flag %}
		  <img src="/static/img/svg/thermometer.svg" height="14px" style="vertical-align:text-bottom;"/>		  
		{% endif %}
	      </td-->
	      <td>
		{% if object.irrigate_flag %}
		  <div class="alert-inline alert-danger">
		    <b>Irrigate Today</b>
		    {% if object.average_water_content <= 0.0 %}
		      AWC
		    {% endif %}
		    {% if object.max_temp_2in < object.max_observed_temp_2in %}
		      Temp
		    {% endif %}
		  </div>
		{% elif object.check_sensors_flag %}
		  <div class="alert-inline alert-warning">
		    Irrigate 1-5 Days
		  </div>
		{% endif %}
		{% if object.dry_down_flag %}
		  <div class="alert-inline alert-info">
		    Dry-Down
		  </div>
		{% endif %}
	      </td>
	      <td>
		{{ object.message }}
	      </td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>

  {% else %}

    <div class="alert alert-danger">
      No data to display.  Check that Crop
      Season <em>{{crop_season}}</em> has events defined for field {{field}}.
    </div>

  {% endif %}

{% endblock %}
