<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site_name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- http://jqueryui.com/themeroller/ -->
    <!-- http://stackoverflow.com/questions/1348559/are-there-hosted-jquery-ui-themes-anywhere -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui-base.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet">


    <!--link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css"-->

    <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-ie7.min.css"><![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/sb-admin.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/timepicker.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/django-model-blocks.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?t=<?= time(); ?>">
    <script src="{{ STATIC_URL }}js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>


    {% block extrahead %}{% endblock %}

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <div id="wrapper">
           
      {% include 'navbar-top.html' %} 
      
      {% if user.is_authenticated %}
	{% include 'navbar-side.html' %} 
	
	<div id="page-wrapper">

      {% endif %}

      <div class="container">
	<div class="contents">

	  <h1 class="title">
	    {% block title %}{% endblock %}
	  </h1>

	  {% block content %}{% endblock %}   
	</div> <!-- /contents -->
      </div> <!-- /container -->

      {% if user.is_authenticated %}

	</div>
	<!-- /#page-wrapper -->

      {% endif %}


      <footer>
	<!--p>&copy; 2014 Gregory R. Warnes Consulting </p-->
	<p>Developed by GRW Consulting for the USDA ARS National Peanut Reserch Laboratory</p>
      </footer>

    </div>

    <!-- Start of scripts -->
    <span>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>
	window.jQuery || document.write('<script src="{{STATIC_URL }}js/lib/jquery-1.9.1.min.js"><\/script>')
      </script>

      <!--- jQuery --->
        <!--script src="{{ STATIC_URL }}js/lib/jquery-ui-1.9.2.min.js"></script-->
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <!--- /jQuery --->

      <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <!--script src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script-->
      <!-- /Bootstrap -->

      <script src="{{ STATIC_URL }}js/plugins.js"></script>
      <script src="{{ STATIC_URL }}js/main.js"></script>
      <script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>

      <!-- SB Admin -->
      <script src="{{ STATIC_URL }}js/sb-admin.js"></script>
      <!-- /SB Admin -->
      
      <!-- django-jquery-formset - support formsets -->
      <script src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
      <!-- /django-jquery-formset -->

      <!-- dJango-ui-timepicker-addon - add a datetime pickser -->
      <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.min.js"></script>
      <!-- /dJango-ui-timepicker-addon -->

      <!-- uncomment and adjust for google analytics -->
      {% comment %}
	<script>
	  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	  s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
      {% endcomment %}

      {% block scripts %}{% endblock %}

    </span>
    <!-- End of Scripts -->
    
    <!-- Code to log out after a period of inactivity -->
    {% include 'session_security/all.html' %}
    <!-- /Code to log out after a period of inactivity -->


  </body>
</html>
