{% load hijack_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site_name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- http://jqueryui.com/themeroller/ -->
    <!-- http://stackoverflow.com/questions/1348559/are-there-hosted-jquery-ui-themes-anywhere -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui/jquery-ui-base.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">


    <!-- Timepicker -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.0/jquery.timepicker.min.css">-->
    
    <!--[if lt IE 8]><link rel="stylesheet" href="{% static 'css/font-awesome-ie7.min.css' %}"><![endif]-->

    <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">

    <link rel="stylesheet" href="{% static 'css/timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <link rel="stylesheet" href="{% static 'css/django-model-blocks.css' %}">



  {% if debug %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?t={% now 'c' %}">
  {% else %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% endif %}






      <!-- links to tablesorter css -->
      <!-- May want to grab directly from web site -->

    <link rel="stylesheet" href="{% static 'css/tablesorter/theme.blue.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablesorter/theme.default.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />

    <script src="{% static 'js/lib/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

   {% block extrahead %}{% endblock %}

  </head>

  <body>
    {% include 'navbar-top.html' %} 
    <div id="wrapper">
      <div class="container">

	  {% if user.is_authenticated %}
	      {{ request|hijackNotification }}
	      <div class="row row-offcanvas row-offcanvas-left ">
                  {% include 'navbar-side.html' %} 
	  {% endif %}
          <div class="col-xs-12 col-sm-9 col-md-9 background-default contents">
 
	      <!-- Common for both authenticated un non-authenticated users -->
              
	      <h1 class="title">
		  {% block title %}{% endblock %}
	      </h1>

	      {% block content %}{% endblock %}   

	  </div> <!-- col-xs-12 -->

	  {% if user.is_authenticated %}
              </div> <!-- row -->
          {% endif %}

      </div> <!-- container -->
    </div> <!-- page wrapper -->

    <footer id = "base-footer">
        <p>Developed by GRW Consulting for the USDA ARS National Peanut Reserch Laboratory</p>
    </footer> 
  </body>
  
  <!-- Start of scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="{% static 'js/lib/jquery-1.9.1.min.js' %}"><\/script>')
  </script>

  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!-- /jQuery -->

  <script src="{% static 'js/tablesorter/jquery.tablesorter.js' %}"></script>
      
  <!-- Bootstrap -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Timepicker -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.0/jquery.timepicker.min.js"></script>-->

  <script src="{% static 'js/plugins.js' %}"></script>

  {% if debug %}
      <script src="{{ STATIC_URL }}js/main.js?t={% now 'c' %}"></script>
  {% else %}
      <script src="{% static 'js/main.js'    %}"></script>
  {% endif %}

  <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

  <!-- SB Admin -->
  <script src="{% static 'js/sb-admin.js' %}"></script>
  <!-- /SB Admin -->
      
  <!-- django-jquery-formset - support formsets -->
  <script src="{% static 'js/jquery.formset.min.js' %}"></script>
  <!-- /django-jquery-formset -->

  <!-- dJango-ui-timepicker-addon - add a datetime picker -->
  <script src="{% static 'js/jquery-ui-timepicker-addon.min.js' %}"></script>
  <!-- /dJango-ui-timepicker-addon -->


  <script src="{% static 'js/bob.js' %}"></script>
  <!--  <script src="{% static 'js/jquery.formset.min.js' %}"></script>-->

  <script src="{% static 'js/jquery.floatThead.min.js' %}"></script>
  


  <!-- uncomment and adjust for google analytics -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{GA_KEY}}', 'auto');
    ga('send', 'pageview');
  </script>


  <script>
    $(document).ready(function() {
    $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
    });
    });
  </script>


  {% block scripts %}{% endblock %}

  <!-- End of Scripts -->
    
  <!-- Code to log out after a period of inactivity -->
  {% include 'session_security/all.html' %}
  <!-- /Code to log out after a period of inactivity -->
</html>
