{% extends "base.html" %}

{% block content %}

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1 class="site-title"><i class="fa fa-pagelines fa-fw"></i>{{ site_name }}</h1>
	{% if not user.is_authenticated %}
	  <table>
	    <tr>
	      <th>
		Existing Users:
	      </th>
	      <td>
		<a class="btn btn-success btn-large" href="{% url 'account_login' %}">Sign In &raquo;</a>
	      </td>
	    </tr>
	    <tr>
	      <th>
		New Users:
	      </th>
	      <td>
		<a class="btn btn-info btn-large" href="{% url 'account_signup' %}">Register &raquo;</a>
	      </td>
	    </tr>
	  </table>
	{% endif %}
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h2>What Is IrrigatorPro?</h2>
	  <p>
	    IrrigatorPro provides growers of peanuts, corn and cotton
	    with a simple tool to determine when to irrigate to ensure
	    optimal crop growth while minimizing irrigation costs.
	  </p>
	  <p>
	    These irrigation recommendations are based on long-term,
	    multicrop irrigation management research performed by the
	    ARS National Peanut Research Laboratory in Dawson,
	    Georgia.
	  </p>
          <p>
	    <a class="btn btn-default" 
	       href="http://www.ars.usda.gov/is/AR/archive/nov05/water1105.htm" 
	       role="button">
	      More Information
	      &raquo;
	    </a>
	  </p>
       </div>

        <div class="col-md-4">
          <h2>How Does It Work?</h2>
	  <p>
	    IrrigatorPro calculates the available water in the soil
	    and the daily water needs of the crop based on its growth
	    stage.
	  </p>
	  <p>
	    If the water needs of the crop exceed the avilable water
	    in the soil, irrigation is recommended.
	  </p>
	  <p>
	    IrrigatorPro can calculate the available soil water
	    content using 
	    <ul>
	      <li>
		manually entered rainfall and irrigaton data,
	      </li>
	      <li>
		manually entered values from soil water potential
		sensors, or
	      </li>
	      <li>
		soil water potential sensor values wirelessly transmitted to
		the University of Georgia (UGA) data repository.
	      </li>
	    </ul>
	  </p>
	  <p>
	    <a class="btn btn-default" 
	       href="http://irrigatorpro.org/trac/wiki/Calculations" 
	       role="button">
	      More Information 
	      &raquo;
	    </a>
	  </p>
        </div>

        <div class="col-md-4">
          <h2>What Crops Are Supported?</h2>

          <p>
	    IrrigatorPro currently supports the following crops:
	    <ul>
	      <li>
		Corn
	      </li>
	      <li>
		Cotton
	      </li>
	      <li>
		Peanuts
	      </li>
	    </ul>
	  </p>

	  <p>
	    <a class="btn btn-warning" 
	       href="mailto:Bill.Edwards@ARS.USDA.GOV?subject=IrrigatorPro%20Crop%20Request&body=Please%20add%20support%20to%20IrrigatorPro%20for%20the%20crop%20__________________________"
	       role="button">
	      Request Another Crop
	      &raquo;
	    </a>
	  </p>
	</div>

      </div>

{% endblock %}
