{% extends "base.html" %}

{% block content %}

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1 class="site-title"><i class="fa fa-pagelines fa-fw"></i>{{ site_name }}</h1>
        <p>{{ some_dynamic_value }}</p>
	{% if not user.is_authenticated %}
	  <table>
	    <tr>
	      <th>
		Existing Users:
	      </th>
	      <td>
		<a class="btn btn-success btn-large" href="{% url 'account_login' %}">Sign In &raquo;</a>
	      </td>
	    </tr>
	    <tr>
	      <th>
		New Users:
	      </th>
	      <td>
		<a class="btn btn-info btn-large" href="{% url 'account_signup' %}">Register &raquo;</a>
	      </td>
	    </tr>
	  </table>
	{% endif %}
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h2>What Is Irrigator Pro for Corn?</h2>
	  <p>
	    The Irrigator Pro web site provides growers of peanuts,
	    corn and cotton with a simple tool to apply the results of
	    long-term, multicrop research on the best irrigation
	    management practices performed by the ARS National Peanut
	    Research Laboratory in Dawson, Georgia.
	  </p>
          <p>
	    <a class="btn btn-default" href="http://www.ars.usda.gov/is/AR/archive/nov05/water1105.htm" 
	       role="button">
	      More Information
	      &raquo;
	    </a>
	  </p>
       </div>

        <div class="col-md-4">
          <h2>How Does It Work?</h2>
	  <p>
	    Irrigator Pro for Corn calculates soil available water content (AWC)
	    from sensors that measure the soil water potential and/or from
	    rainfall and irrigation levels as well as the water utilization for
	    the specific growth stage of the planted crop. The available water
	    content (AWC) is the used to determine whether irrigation is
	    necessary. These results are then presented to the user in a tabular
	    format similar to a check register for each field.
	  </p>
	  <p>
	    Soil water potential data can be entered manually or
	    automatically entered from the University of Georgia (UGA)
	    data repository for probes that wirelessly communicate
	    with the UGA repository
	  </p>

	  <p>
	    <a class="btn btn-default" 
	       href="http://irrigatorpro.org/trac/wiki/Calculations" 
	       role="button">
	      More Information 
	      &raquo;
	    </a>
	  </p>
        </div>

        <div class="col-md-4">
          <h2>Current Status: <em>Validation</em></h2>

          <p>
	    The 'Irrigator Pro' web site is is currently undergoing
            validation.  All components are operational but errors or
            issues may be present.
	  </p>

	  <p>
	    Supported Crops:
	    <ul>
	      <li>
		Corn (Validation)
	      </li>
	      <li>
		Cotton (Testing)
	      </li>
	      <li>
		Peanuts (In Development)
	      </li>
	    </ul>
	  </p>

	  <p>
	    <a class="btn btn-warning" 
	       href="http://irrigatorpro.org/trac/newticket"
	       role="button">
	      Report an Issue
	      &raquo;
	    </a>
	  </p>
	</div>

      </div>

{% endblock %}
