<!-- Sidebar -->
{% load object_lists %}
{% farm_list %}
{% crop_season_list %}

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li>
	<a href="{% url 'settings' %}">
	  <i class="fa fa-cogs fa-fw"></i>
	  Farm Settings
	  <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
	</a>
	<ul class="nav nav-secondary">
	  <li>
	    <a href="{% url 'farm_list' %}">
	      <i class="fa fa-leaf fa-fw"></i>
	      Farms and Fields
	      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
	    </a>

	    <ul class="nav">
	      {% for farm in farm_list %}
		<li>
  		  <a href="{% url 'farm_list' %}{{ farm.pk }}">
  		    {{ farm.name }}
  		  </a>
		</li>
	      {% endfor %}

	      <li>
		<a href="{% url 'farm_list' %}new">
  		  <i class="fa fa-plus fa-fw"></i> New Farm
		</a>
	      </li>
	    </ul>
	  </li>

	  <li>
	    <a href="{% url 'crop_season_list' %}">
	      <i class="fa fa-pagelines fa-fw"></i>
	      Crop Seasons
	      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
	    </a>

	    <ul class="nav">
	      {% for item in crop_season_list %}
		<li>
  		  <a href="{% url 'crop_season_list' %}{{ item.pk }}">
  		    {{ item.name }}
  		  </a>
		</li>
	      {% endfor %}

	      <li>
		<a href="{% url 'crop_season_list' %}new">
  		  <i class="fa fa-plus fa-fw"></i> New Season
		</a>
	      </li>
            </ul>
	  </li>

	  <li>
	    <a href="{% url 'probes' %}">
	      <i class="fa fa-rss fa-fw"></i>
	      Probes
	      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
	    </a>

	    {% if crop_season_list %}
	      <ul class="nav">
		{% for item in crop_season_list %}
		  <li>
  		    <a href="{% url 'probes' %}{{ item.pk }}">
  		      {{ item.name }}
  		    </a>
		  </li>
		{% endfor %}
              </ul>
	    {% endif %}
	  </li>
	</ul>

	  <li>
	    <a href="{% url 'probe_readings' %}">
	      <i class="fa fa-rss fa-fw"></i>
	      Probe Readings
	      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
	    </a>

	    {% if crop_season_list %}
	      <ul class="nav nav-secondary">
		{% for season in crop_season_list %}
		  <li>
  		    <a href="{% url 'probe_readings' %}{{ season.pk }}">
  		      {{ season.name }}
		      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
  		    </a>
		    <ul class="nav">
		      {% for field, probe in season.probe_field_list %}
			<li>
		    	  <a href="{% url 'probe_readings' %}{{ season.pk }}/{{ field.pk }}">
		    	    {{ field }} [{{ probe.radio_id }}]
		    	  </a>
		     	</li>
		      {% endfor %}
		    </ul>
		  </li>
		{% endfor %}
              </ul>
	    {% endif %}

	  </li>

	  <li>
	    <a href="{% url 'water_history' %}">
	      <i class="fa fa-pencil-square-o fa-fw"></i>
	      Rainfall & Irrigation
	      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
	    </a>

	    {% if crop_season_list %}
	      <ul class="nav nav-secondary">
		{% for season in crop_season_list %}
		  <li>
  		    <a href="{% url 'water_history' %}{{ season.pk }}">
  		      {{ season.name }}
		      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
  		    </a>
		    <ul class="nav">
		      {% for field in season.field_list_all %}
			<li>
		    	  <a href="{% url 'water_history' %}{{ season.pk }}/{{ field.pk }}">
		    	    {{ field }}
		    	  </a>
		     	</li>
		      {% endfor %}
		    </ul>
		  </li>
		{% endfor %}
              </ul>
	    {% endif %}
	  </li>

	  <li>
	    <a href="{% url 'water_register' %}">
	      <i class="fa fa-cloud fa-fw"></i>
	      Water Register
	      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
	    </a>

	    {% if crop_season_list %}
	      <ul class="nav nav-secondary">
		{% for season in crop_season_list %}
		  <li>
  		    <a href="{% url 'water_register' %}{{ season.pk }}">
  		      {{ season.name }}
		      <i class="fa fa-caret-square-o-right fa-fw fa-right"></i>
  		    </a>
		    <ul class="nav">
		      {% for field in season.field_list_all %}
			<li>
		    	  <a href="{% url 'water_register' %}{{ season.pk }}/{{ field.pk }}">
		    	    {{ field }}
		    	  </a>
		     	</li>
		      {% endfor %}
		    </ul>
		  </li>
		{% endfor %}
              </ul>
	    {% endif %}

	  </li>

	  <!-- <li> -->
	  <!--   <a href="{% url 'home' %}#dashboard"> -->
	  <!--     <i class="fa fa-dashboard fa-fw"></i> -->
	  <!--     Dashboard -->
	  <!--   </a> -->
	  <!-- </li> -->

	  <!-- <li> -->
	  <!--   <a href="{% url 'home' %}#alerts"> -->
	  <!--     <i class="fa fa-bell fa-fw"></i> -->
	  <!--     Alert Settings -->
	  <!--   </a> -->
	  <!-- </li> -->


	  {% if perms.auth.staff_status %}
	    <li>
	      <a href="{% url 'home' %}admin"
		 target="_blank"><i class="fa fa-gear fa-fw"></i>
		Admin
		<i class="fa fa-external-link"
		   style="padding-left: 5px; color: #80B580; font-weight: bold;"></i>
	      </a>
	    </li>
	  {% endif %}

	</ul>
      </li>

<!-- /#side-menu -->
</div>
<!-- /.sidebar-collapse -->
</nav><!-- /.navbar-static-side -->

<!-- /Sidebar -->
