{% extends "base.html" %}
{% load i18n admin_static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

  <h1>{% trans "Password reset" %}</h1>

  <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

  <form action="" method="post">{% csrf_token %}

    {% if form.email.errors %}
      <div class="alert alert-error">{{ form.email.errors }}</div>
    {% endif %}

    <table>
      <tr>
	<td>{{ form.email.label_tag }}</td>
	<td>{{ form.email }}</td>
      </tr>
    </table>
    <input class="btn btn-primary btn-small" type="submit" value="{% trans 'Reset my password' %}" />
  </form>

{% endblock %}
